@use "abstracts" as *;
@use "base" as *;
@use "components" as *;
@use "layout" as *;
@use "pages" as *;
@use "themes" as *;
@use "vendors" as *;

// Main********************************
.container {
  max-width: 1340px;
  padding: 0 20px;
  margin: 0 auto;
}
button {
  transition: 0.4s;
  cursor: pointer;
}

main {
  margin-top: 120px;
  background: #fff;
  .coursebox-bir {
    // max-width: 1360px;
    // max-height: 748px;
    padding: 0 40px;
    // border-radius: 8px;
    background: var(--other-navy, #021934);
    font-size: 16px;
    .containertab {
      display: flex;
      gap: 56px;
      flex-wrap: wrap;
      .section1 {
        padding: 88px 0 90px 64px;

        b {
          max-width: 510px;
          color: var(--text-white, #fff);
          font-family: Rubik;
          font-size: 64px;
          font-style: normal;
          font-weight: 700;
          line-height: 88px; /* 137.5% */
        }
        p {
          margin-top: 24px;
          max-width: 647px;
          color: var(--text-white, #fff);
          font-family: Montserrat;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 27px; /* 168.75% */
        }
        .cearchdiv {
          display: flex;
          margin-top: 66px;
          width: 610px;
          height: 80px;
          padding: 12px 16px;
          align-items: center;
          justify-content: space-between;
          border-radius: 8px;
          background: var(--text-white, #fff);
          .img-input {
            display: flex;
            width: 330px;
            gap: 16px;
            #id {
              width: 290px;
              height: 27px;
              font-size: 16px;
            }
          }
          button {
            cursor: pointer;
            width: 121px;
            height: 56px;
            justify-content: center;
            border-color: #fff;
            border-radius: 8px;
            background: var(--primary-pink, #fff);
            :hover {
              background-color: #f72585;
              border-color: #f72585;
              border-radius: 8px;
              color: #fff;
              transition: 0.4s;
              p {
                color: #1c3554;
              }
            }
            .button-text2 {
              margin-top: 1px;
              padding: 12px 32px;
              color: var(--text-white, #2a2929);
              font-family: Montserrat SemiBold;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 32px; /* 200% */
            }
          }
        }
        .uch-content {
          margin-top: 58px;
          display: flex;
          gap: 48px;
          text-align: center;
          gap: 48px;
          .life {
            display: flex;
            align-items: center;
            text-align: center;
            gap: 4px;
            img {
              width: 28px;
              height: 28px;
            }
            p {
              margin-top: -7px;
              color: var(--text-white, #fff);
              font-variant-numeric: lining-nums proportional-nums;
              font-family: Rubik;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 24px; /* 150% */
            }
          }
        }
      }
      .section2 {
        margin-top: 65px;
        .section2img {
          width: 529px;
          height: 683px;
          flex-shrink: 0;
          border-radius: 8px;
          background: var(--text-disable, #e6e6e6);
          .svgbir {
            margin-top: 47px;
            margin-left: 47px;
          }
          .svgikki {
            margin-top: 190px;
            margin-left: 440px;
          }
          .svguch {
            margin-top: 13px;
            margin-left: 63px;
          }
          .svgtort {
            margin-top: 20px;
            margin-left: 315px;
          }
        }
      }
    }
  }
  // 2 section*******************

  .coursebox-ikki {
    background-color: #fff;
    // max-height: 6989px;
    background: #fff;
    margin-top: 88px;
    justify-content: center;
  
    .b-bir {
      text-align: center;
      p {
        color: var(--text-tittle, #1c3554);
        font-variant-numeric: lining-nums proportional-nums;
        font-family: Rubik;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 63.984px; /* 133.3% */
      }
    }
    .buttons {
      margin-top: 56px;
      display: flex;
      gap: 24px;
      text-align: center;
      justify-content: center;
      flex-wrap: wrap;
      a {
        width: 177px;
        justify-content: center;
        align-items: flex-start;
        border-radius: 8px;
        background: #fff;
        :hover {
          background-color: #f72585;
          border-radius: 8px;
          color: #fff;
          transition: 0.4s;
        }
        p {
          padding: 8px 32px;
          color: var(--other-grey, #aaa);
          font-family: Montserrat SemiBold;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px;
        }
      }
    }
    // cards********************************************************************
    .card-box {
      margin-top: 32px;
      display: flex;
      gap: 16px;
      flex-wrap: wrap;

      .cards {
        margin-top: 24px;
        width: 295px;
        height: 427px;
        &:hover {
          box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
          border-radius: 8px;
          transition: 0.4s;
        }
        .card {
          padding: 16px;
          .img {
            width: 260px;
            height: 200px;
            background-color: #aaa;
            border-radius: 4px;
            justify-content: center;
          }
          .butf1 {
            width: 144px;
            text-align: center;
            justify-content: center;
            align-items: center;
            button {
              margin-top: -40px;
              margin-left: 66px;
              justify-content: center;
              text-align: center;
              align-items: center;
              width: 144px;
              height: 32px;
              border-radius: 8px;
              border-color: #4586d6;
              background: var(--other-blue, #4586d6);
              p {
                color: var(--text-white, #fff);
                font-family: Montserrat SemiBold;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 200% */
              }
            }
          }
          b {
            margin-top: 16px;
            color: var(--text-tittle, #1c3554);
            font-variant-numeric: lining-nums proportional-nums;
            font-family: Rubik;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 150% */
            text-transform: capitalize;
          }
          p {
            margin-top: 8px;
            color: var(--primary-pink, #f72585);
            font-family: Montserrat SemiBold;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 200% */
          }
          .star {
            margin-top: 12px;
            display: flex;
            align-items: center;
            gap: 3px;
            img {
              width: 96.327px;
              height: 16px;
              flex-shrink: 0;
            }
            p {
              color: var(--text-body, #808080);
              font-family: Montserrat SemiBold;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px; /* 171.429% */
            }
          }
          .dols {
            margin-top: 22px;
            display: flex;
            align-items: center;
            gap: 3px;
            s {
              color: var(--text-in-field, #ccc);
              font-family: Montserrat;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 27px; /* 168.75% */
            }
            p {
              color: var(--text-tittle, #1c3554);

              /* Heading/Medium/H5 - 24px */
              font-family: Rubik;
              font-size: 24px;
              font-style: normal;
              font-weight: 500;
              line-height: 32px; /* 133.333% */
            }
          }
        }
      }
    }

    .morecours {
      margin-top: 56px;
      text-align: center;
      align-items: center;
      justify-content: center;
      button {
        height: 60px;
        width: 288px;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        background-color: #fff;
        border-color: #050505;
        &:hover {
          border-radius: 8px;
          background-color: #f72585;
          border-color: #f72585;
          transition: 0.4s;
          a {
            color: #fff;
          }
        }
        a {
          color: var(--text-white, #000000);
          text-align: center;
          font-family: Montserrat SemiBold;
          font-size: 16px;
          // padding: 14px 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px; /* 200% */
        }
      }
    }
  }
  // 3 section**********************************************
  .coursebox-uch {
    margin-top: 160px;
    background: var(--text-white, #fff);
    p {
      color: var(--text-tittle, #1c3554);
      font-family: Rubik;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 63.984px;
    }
    .category {
      margin-top: 56px;
      display: flex;
      gap: 16px;
      flex-wrap: wrap;
      .category-content {
        width: 296px;
        height: 350px;
        text-align: center;
        .ccimg {
          width: 296px;
          height: 350px;
          flex-shrink: 0;
          border-radius: 8px;
          opacity: 0.5;
          background: var(--other-overlay-50, #a5a2a2);
          p {
            padding-top: 250px;
            color: var(--text-white, #ffffff);
            font-family: Rubik;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: 32px;
          }
        }
      }
    }
  }
  // 4-section*************************************************
  .coursebox-tort {
    margin-top: 160px;
    background-color: #fff;
    .assets {
      display: flex;
      gap: 16px;
      background-color: #fff;
      flex-wrap: wrap;
      .assets-content {
        width: 296px;
        height: 168px;
        text-align: center;
        background-color: #fff;
        img {
          width: 64px;
          height: 64px;
        }
        .par-bir {
          margin-top: 16px;
          color: var(--text-tittle, #1c3554);
          font-variant-numeric: lining-nums proportional-nums;
          font-family: Rubik;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: 48px;
          text-transform: capitalize;
        }
        p {
          margin-top: 8px;
          color: var(--text-tittle, #1c3554);
          font-variant-numeric: lining-nums proportional-nums;
          font-family: Rubik;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px;
        }
      }
    }
  }
  // 5-section****************************************************
  .coursebox-besh {
    margin-top: 160px;
    .contentbox-besh {
      // width: 1240px;
      // height: 657px;
      background: #fff;
      display: flex;
      gap: 56px;
      flex-wrap: wrap;
      .cimg-besh {
        width: 608px;
        height: 657px;
        flex-shrink: 0;
        border-radius: 8px;
        background: var(--text-in-field, #ccc);
      }
      .cbox-besh {
        width: 608px;
        height: 657px;
        margin-top: 100px;
        b {
          color: var(--text-tittle, #1c3554);
          font-family: Rubik;
          font-size: 48px;
          font-style: normal;
          font-weight: 700;
          line-height: 63.984px;
        }
        p {
          margin-top: 32px;
          width: 565px;
          color: var(--text-body, #808080);
          font-family: Montserrat;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 27px;
        }
        button {
          margin-top: 40px;
          display: inline-flex;
          padding: 16px 40px;
          align-items: flex-start;
          gap: 10px;
          border-radius: 8px;
          border-color: #f72585;
          background: var(--primary-pink, #f72585);
          a {
            color: var(--text-white, #fff);
            font-family: Montserrat SemiBold;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
          }
        }
      }
    }
  }
  .coursebox-olti {
    margin-top: 160px;
    background-color: #fff;
    .contentbox-olti {
      display: flex;
      justify-content: center;
      gap: 48px;
      flex-wrap: wrap;
      .img-olti {
        width: 338px;
        height: 377px;
        flex-shrink: 0;
        background: var(--text-in-field, #ccc);
        // background-image: url(../images/home/Accent.png) ;
        img {
          margin-top: 198px;
        }
      }
      .ctext {
        margin-top: 90px;
        p {
          max-width: 672px;
          color: var(--text-tittle, #1c3554);
          font-family: Rubik;
          font-size: 32px;
          font-style: normal;
          font-weight: 400;
          line-height: 48px; /* 150% */
        }
        b {
          margin-top: 32px;
          color: var(--text-tittle, #1c3554);
          font-family: Rubik;
          font-size: 24px;
          font-style: normal;
          font-weight: 500;
          line-height: 32px; /* 133.333% */
        }
        .ariftext {
          margin-top: 8px;
          color: var(--text-body, #808080);
          font-family: Montserrat SemiBold;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 171.429% */
        }
      }
    }
  }
  .coursebox-yetti {
    padding: 160px 138px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    background-color: #fff;
    .logo-content {
      max-width: 1164px;
      max-height: 560px;
      justify-content: center;
      background: #fff;
      flex-wrap: wrap;
    }
    p {
      color: var(--text-tittle, #1c3554);
      font-variant-numeric: lining-nums proportional-nums;
      font-family: Rubik;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 63.984px; /* 133.3% */
    }
    .logos-box {
      text-align: center;
      margin-top: 50px;
      display: flex;
      justify-content: center;
      gap: 54px;
      flex-wrap: wrap;

      .img-blog {
        // margin-top: 32px;
        width: 250px;
        height: 104px;
        justify-content: center;
        flex-shrink: 0;
      }
    }
  }
  // yetti***********************************************
  .coursebox-sakkiz {
    margin-top: 160px;
    // max-height: 638px;
    background-color: #fff;
    flex-wrap: wrap;
    p {
      color: var(--text-tittle, #1c3554);
      font-variant-numeric: lining-nums proportional-nums;
      font-family: Rubik;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 63.984px;
    }
    .sakkiz-box {
      display: flex;
      gap: 16px;
      flex-wrap: wrap;

      .yetti-card {
        margin-top: 56px;
        width: 400px;
        height: 518px;
        flex-shrink: 0;
        border-radius: 8px;
        background: var(--text-white, #fff);
        padding: 16px;
        &:hover {
          box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.45);
          border-radius: 8px;
          transition: 0.4s;
        }
        .img-yetti {
          width: 368px;
          height: 240px;
          flex-shrink: 0;
          border-radius: 8px;
          background: var(--text-in-field, #a9a9a9);
        }
        .par-bir {
          margin-top: 16px;
          color: var(--text-body, #808080);
          font-family: Montserrat;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 171.429% */
        }
        .par-ikki {
          margin-top: 16px;
          color: var(--text-tittle, #1c3554);
          font-variant-numeric: lining-nums proportional-nums;
          font-family: Rubik;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: 32px; /* 133.333% */
        }
        .par-uch {
          margin-top: 16px;
          color: var(--text-body, #808080);
          font-family: Montserrat;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 27px; /* 168.75% */
        }
        .par-tort {
          margin-top: 24px;
          color: var(--primary-pink, #f72585);
          font-family: Montserrat SemiBold;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px; /* 200% */
        }
      }
    }
  }
  // toqqiz********************************
}
